<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of old cameras?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF OLD CAMERAS</h1>
    <p><strong>1. Reach out to electronic retailers</strong></p>
    <p>Several well-known electronics retailers, like Best Buy and Staples, offer recycling programs for electronic devices, including old cameras. Many of these stores accept electronic waste for free, making it convenient for you to drop off your old camera while shopping for new items.</p>
    <p><strong>2. Try Manufacturer Recycling Programs: Canon, Apple, HP</strong></p>
    <p>Some manufacturers also have recycling programs in place to help you dispose of old cameras and other electronics. Companies like Canon, Apple, and HP encourage customers to return their electronic products for proper recycling.</p>
    <p><strong>3. Recycling your old camera</strong></p>
    <p>Things like copper, aluminum, and gold wiring, among others, are recyclable and present in almost every model.</p>

    <br>
    <h1>WHY YOU SHOULDN'T THROW CAMERAS IN THE TRASH</h1>
    <p><strong>Environmental impact</strong></p>
    <p>Old cameras contain hazardous substances such as lead, mercury, and cadmium.</p>
    <p>These heavy metals are toxic and can cause serious health issues if released into the environment.</p>
    
    </div>
</body>
</html>