<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of old laptops?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF OLD LAPTOPS</h1>
    <p>When your laptop is disposed of improperly, it can have a lot of negative environmental and personal effects. For instance, if you just toss it in the trash, your old laptop can end up in the wrong hands, leaving your data exposed.</p>
    <p>Even worse, it can end up in landfills, leak rare earth elements, and cause damage to the environment and our health.</p>
    <p><strong>Unplug the device, open casing, remove the hard drive from the casing and destro the hard drive</strong></p>
    <p>Several well-known electronics retailers, like Best Buy and Staples, offer recycling programs for electronic devices. Many of these stores accept electronic waste for free, making it convenient for you to drop off your old devices while shopping for new items.</p>
    <p><strong>2. Sell or donate your laptop</strong></p>
    <p>Many different electronics stores and laptop companies have programs where you can trade in your old technology for a small payment.</p>
    <p><strong>3. Laptop recycling</strong></p>
    <p>Laptop manufacturers like Apple, Dell, Lenovo, and HP also have recycling programs, and sometimes will recycle your old laptop for free.</p>

    <br>
    <h1>WHY YOU SHOULDN'T THROW CAMERAS IN THE TRASH</h1>
    <p><strong>Environmental impact and Health risks</strong></p>
    <p>E-waste like a thrown-away laptop is made up of components that can be dangerous to your health.</p>
    <p>For instance, the plastics in your electronic devices don’t break down like other materials. They degrade and become microplastic particles. These particles are very harmful to plants, animals, and humans who can ingest them.</p>
    <p>Furthermore, the metals in your devices also come with their own dangers. When they sit in landfills, they oxidize and ionize into the surrounding soil and eventually our produce and drinking water. Many of these metals contain toxic chemicals that can cause negative effects on our health.</p>
    </div>
</body>
</html>