<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of old microwave?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF YOUR MICROWAVE</h1>
    <p><strong>1. E-WASTE RECYCLERS</strong></p>
    <p>Recycling your microwave with an e-waste recycler is your best bet. These firms will often pick up e-waste from commercial customers. If there are no e-waste recyclers in your area who do pickups, you can call to find their nearest drop-off location.</p>
    <p><strong>2. MANUFACTURER TAKE-BACK PROGRAMS OR INCENTIVES‍</strong></p>
    <p>Contact the microwave's manufacturer to inquire about a take-back program. Some manufacturers will take your broken microwave and reuse some of its parts to manufacture new microwaves. That is proper recycling!</p>
    <p><strong>3. APPLIANCE REPAIR SHOPS‍</strong></p>
    <p>Look for appliance repair facilities in your neighborhood who will take the microwave off of your hands. They will either repair it and sell it or use it for parts to improve other microwaves.</p>
    </div>
</body>
</html>