<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of old mobiles?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF YOUR MOBILE PHONES</h1>
    <p><strong>1. Sell it online</strong></p>
    <p>Amazon and eBay are the first names that come automatically to our minds when we plan to sell something, be it electronics, furniture items, clothes, etc. However, several apps and websites ease your job and offer you easy cash in return for a phone.</p>
    <p><strong>2. Drop the mobile phone at a recycling center</strong></p>
    <p>Drop your outdated handset at council recycling centres as they happily take electronics like mobile phones. They use metal and plastic shredders for this purpose. After which, the remains are sorted using magnets and near-infrared light. The raw material extracted through recycling saves money as the raw material extracted can be utlized to make other cheap products.</p>
    <p><strong>3. Reuse and recycle mobile phone chargers and batteries</strong></p>
    <p>For instance, if you are selling your smartphone online; or in person, most companies and buyers will ask you for the charger alongside the handset. However, if you plan to dispose of just the mobile battery, drop it at a kerbside collector set up by your local council.</p>
    <p>Remember, as most batteries are made from Lithium-ion and Cobalt, recycle them responsibly instead of just throwing them in the trash bin. Burning them can be a fatal error as batteries may explode.</p>
    <br>
    <p>Broken mobile phones can be disposed of at most Recycling centers in the container for small electricals. Find your nearest using the Facility Locator option provided by us.</p>
    </div>
</body>
</html>