<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of smartwatches?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF YOUR SMARTWATCH</h1>
    <p><strong>1. Sell it online</strong></p>
    <p>Amazon and eBay are the first names that come automatically to our minds when we plan to sell something, be it electronics, furniture items, clothes, etc. However, several apps and websites ease your job and offer you easy cash in return.</p>
    <p><strong>2. Repair, Reuse or Donate</strong></p>
    <p>Help reduce waste by repairing or upgrading your device to extend its life. If you no longer wish to keep it, consider selling it, using trade-in opportunities or donating to an organization that accepts e-waste.</p>
    <p><strong>3. Remove batteries</strong></p>
    <p>Batteries need to be removed before the watch is discarded. Improperly disposing of batteries can leach lead and acid into the environment. If you can’t remove the batteries, the watch cannot be put in the garbage.<p>
    
    </div>
</body>
</html>