<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How to dispose of TVs?</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Borel&family=Poppins:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container1">
    <h1>KNOW HOW TO DISPOSE OF YOUR TV</h1>
    <p><strong>1. Avoid putting your television in the garbage or landfill.</strong></p>
    <p>Flatscreen TVs contain hazardous materials. Because of this, it’s unsafe for them to be thrown into the regular garbage or taken to a landfill in case they break open. Opt for a recycling option to keep yourself, others, and the environment safe.</p>
    <p><strong>2. Drop off your flatscreen TV with certain electronics manufacturers.</strong></p>
    <p>Environmental Protection Agency has a useful list of companies that offer recycling services. Companies like Sony, Samsung, and Vizio let you bring your used televisions in to be dropped off, as well as host recycling events.</p>
    <p><strong>3. Contact Recycling centers near you using our facility locator option</strong></p>
    <p><strong>4. Give your TV (back) to Best Buy</strong></p>
    </div>
</body>
</html>